<!--extends base layout-->
{% extends 'base.html' %}
{% block content %}
<h1>Account Management</h1>
<form action="" method="post" name="account_form">
    {{ account_form.hidden_tag() }}
    <p>
        Update your email or password here:
        {{ account_form.new_email(size=80) }}

        {{ account_form.current_password(size=80) }}
        {% for error in account_form.current_password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        {{ account_form.new_password(size=80) }}
        {% for error in account_form.current_password.errors %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}

        {{ account_form.confirm(size=80) }}
        <br>

    </p>
    <p><input type="submit" value="Update"></p>
</form>

<form action="{{ url_for('update_email') }}" method="post" name="email_form">
    {{ email_form.hidden_tag() }}
    <p>
        Update your email settings here:
        {{ email_form.search_terms(size=80) }}


        Opt In: {{ email_form.email_opt_in(size=80) }}
        <br>

    </p>
    <p><input type="submit" value="Update"></p>
</form>
{% endblock %}