<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
                <link rel="stylesheet" href="/static/css/main.css">

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        {% if title %}
        <title>{{ title }} - Gearfinder</title>
        {% else %}
        <title>Gearfinder</title>
        {% endif %}
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Gearfinder</a>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a> </li>
                    {% if g.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('account') }}">Account</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('sign_up') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Alerts -->
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <!-- Page Body -->
        {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    This site is created and maintained by James Willis. The site is open source on <a href="https://github.com/james-willis/gearfinder" target="_blank">GitHub</a>
                </p>
            </div>
        </footer>
    </body>
</html>