{% extends 'base.html' %}
{% block content %}
    <form action="" method="post" name="index">
        <h2>Search</h2>
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <label for="search" class ="sr-only">Search Terms</label>
            {{ form.search_terms(id="search", class="form-control", type="search", autofocus="",
                                    placeholder="Enter your Search Here") }}
        </fieldset>

        <input class="btn btn-primary" type="submit" value="Search">

        {% if g.user.get_search_terms_str()%}
            <a class="btn btn-primary" href="{{ url_for('results', search_terms=g.user.get_search_terms_str(), page='1') }}">
                See Subscribed Search
            </a>
            <br>
            <small>Your subscribed search is "{{ g.user.get_search_terms_str() }}"</small>
            <br>
            <small><a href="{{ url_for('account') }}">Update Subscribed Search</a></small>
        {% endif %}
    </form>
{% endblock %}
